body{
    font-family: $font-regular;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: $color-light
}
ul, li, ol, dl, dt, dd, form, p, img, video a, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    border: none;
    box-shadow: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: $font-regular;
    font-weight: 400;
}
button:focus, video:focus, input:focus, textarea:focus, select:focus, select:focus-visible{
    outline: none!important;
    outline-width: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
::selection{
    background-color: $color-red; 
    color: $color-white;
}
:focus{
    outline: 0!important;
}
*{
    box-sizing: border-box;
}
a, label, span, ul, input, textarea, button, div, li, ol, p{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}
button{
    cursor: pointer;
}
svg, img{
    display: block;
}
input, select, textarea, button{
    font-family: $font-regular;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}
input, textarea {
    font-size: 16px;
    @include responsive('md'){
        font-size: 14px;
    }
}

body{
    &.OFHidden{
        overflow: hidden;
    }
}