// Color Variables
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #ff9100;
$color-blue-light: #368BD6;

// Font Variables
$font-regular: 'Arial', sans-serif;

// Animation Timing
$time-veryfast: .25s;
$time-fast: .5s;
$time-slow: 1s;