// Color Variables
$color-black: #000000;
$color-black2: #222222;
$color-black3: #696969;
$color-black4: #81848a;
$color-black5: #787878;
$color-white: #ffffff;
$color-light: #f4f3f4;
$color-grey-light: #e0e2e7;
$color-grey-light2: #d8d8d8;
$color-grey-dark: #959595;
$color-grey-dark2: #bbbbbb;
$color-red: #df3e22;
$color-red2: #c7001b;
$color-yellow: #f8ce42;
$color-green: #3da660;

// Font Variables
$font-regular: 'Montserrat', sans-serif;

// Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-sbold: 600;
$fw-bold: 700;
$fw-ebold: 800;
$fw-black: 900;

// Animation Timing
$time-veryfast: .25s;
$time-fast: .5s;
$time-slow: 1s;